.boxdesign {
  height: 10px;
  width: px;
  background-color: #555;
}
.Topics {
    height: 100%;
    width: 10%;
    background-color: cornflowerblue;
    border-color: darkslategray;
    float: left 
}
.Recent {
    height: 100%;
    width: 10%;
    background-color: cornflowerblue;
    border-color: darkslategray;
    float: left 
}